<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%= title %>
	<%- title%>
    <p>Welcome to <%= title %></p>

    <h1>UserList</h1>
    <%
    	users.forEach(function(user){
    		%>
    		<h6><%= user.username%></h6>
    		<%
    		});
    %>
  </body>
</html>
